*{
    margin: 5px 6px 5px 0px;
    padding: 5px;
}
.container{
    width: 100%;
    height: 100%;
    margin: auto;    
    padding: 5px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    line-height: 25px;
}
h3{
    text-align: center;
    color: mediumblue;
}
h4{
    text-align: center;
}
#footer{
    text-align: center;
    font-size: 20px;
}
.row{
    margin: 2px;
    padding: 2px;
}
#running{
    color: mediumseagreen;
}
#ongoing{
    color: red;
    text-shadow: black 1px solid;
}