
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

*{
    margin: 5px 6px 5px 0px;
    padding: 5px;
    
}
body{
    background-color: #dbd9d5;
}
.container{
    width: 100%;
    height: 100%;
    margin: auto;    
    padding: 5px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    line-height: 25px;
    font-weight: bold;
    background-color: white;
    
}
h3{
    text-align: center;
    color: mediumblue;
}
h4{
    text-align: center;
}
a{
    color: black;
}
#footer{
    text-align: center;
    font-size: 20px;
}
.row{
    margin: 2px;
    padding: 2px;
}
#running{
    color: mediumseagreen;
    
}
#ongoing{
    color: red;
    text-shadow: black 1px solid;
    
}


